#
# {{ ansible_managed }}
#
{% if proxy_settings_http_proxy is defined %}
Acquire::http::proxy "{{ proxy_settings_http_proxy }}";
{% endif %}
{% if proxy_settings_ftp_proxy is defined %}
Acquire::ftp::proxy "{{ proxy_settings_ftp_proxy }}";
{% endif %}
{% if proxy_settings_https_proxy is defined %}
Acquire::https::proxy "{{ proxy_settings_https_proxy }}";
{% endif %}
