#
# {{ ansible_managed }}
#
{% if proxy_http_proxy is defined %}
http_proxy="{{ proxy_http_proxy }}"
{% endif %}
{% if proxy_ftp_proxy is defined %}
ftp_proxy="{{ proxy_ftp_proxy }}"
{% endif %}
{% if proxy_https_proxy is defined %}
https_proxy="{{ proxy_https_proxy }}"
{% endif %}
{% if proxy_no_proxy is defined %}
no_proxy="{{ proxy_no_proxy }}"
{% endif %}