#
# {{ ansible_managed }}
#
PROXY_ENABLED="yes"
{% if proxy_http_proxy is defined %}
HTTP_PROXY="{{ proxy_http_proxy }}"
{% endif %}
{% if proxy_ftp_proxy is defined %}
FTP_PROXY="{{ proxy_ftp_proxy }}"
{% endif %}
{% if proxy_https_proxy is defined %}
HTTPS_PROXY="{{ proxy_https_proxy }}"
{% endif %}
{% if proxy_no_proxy is defined %}
NO_PROXY="{{ proxy_no_proxy }}"
{% endif %}