#
# {{ ansible_managed }}
#
{% if proxy_settings_http_proxy is defined %}
export http_proxy="{{ proxy_settings_http_proxy }}"
export HTTP_PROXY="{{ proxy_settings_http_proxy }}"
{% endif %}
{% if proxy_settings_ftp_proxy is defined %}
export ftp_proxy="{{ proxy_settings_ftp_proxy }}"
export FTP_PROXY="{{ proxy_settings_ftp_proxy }}"
{% endif %}
{% if proxy_settings_https_proxy is defined %}
export https_proxy="{{ proxy_settings_https_proxy }}"
export HTTPS_PROXY="{{ proxy_settings_https_proxy }}"
{% endif %}
{% if proxy_settings_no_proxy is defined %}
export no_proxy="{{ proxy_settings_no_proxy }}"
export NO_PROXY="{{ proxy_settings_no_proxy }}"
{% endif %}
