name: ansible-lint

on:
  pull_request:
    types: [opened, synchronize]
  push:
    branches:
      - master

jobs:
  ansible-playbooks:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2

      - name: Lint Ansible Playbook
        uses: ansible/ansible-lint-action@master
        with:
          targets: .
